
/*=====================================check=========================================================================*/

#container-body {
    border: 1px solid black;
        /*rgb(236, 234, 234);*/
    margin-top:5px;
    margin-bottom:15px;
}


/*=====================================check=========================================================================*/

/* ===================search================================= */
label {
    font-size: 10px;
}

.search {
    margin-left: 5px;
    margin-bottom: 20px;
    font-size: 12px;
    margin-top:10px;
}


input {
    height: 40px;
    border-color: rgb(51, 153, 255);
    border-radius: 8%;
    font-size: 12px;
}

select {
    height: 40px;
    border-color: rgb(51, 153, 255);
    border-radius: 8%;
    width: 75px;
    font-size: 12px;
}

button {
    margin-top: 50px;
    height: 40px;
    /* width: 90px;*/
    border-radius: 8%;
    font-size: 10px;
}

#reset {
  color: rgb(51, 153, 255);
  border-color: rgb(51, 153, 255);
}

/* ===================search================================= */

/* =========================================worklist========================================== */

#worklist-body {
  background-color: whitesmoke;
  height: 500px;
  margin-top: 30px; 
/*  margin-left: 30px;*/

}

#worklist-p {
  position:absolute;
  margin-top: 30px;
  font-size: medium;
  margin-left: 20px;
}

#worklist-body-search {
  
  margin-top: 20px;
  margin-left: 54%;
  text-indent: 5px;
  width: 145px;
}

/* ========================table================================= */
#table {
  border: 0px;
  align-items: center;
  font-size: small;
  width: 100%;
/*  margin-top: 90px;*/
  margin-left: 5px;

}

th,
td {
  padding: 3px;
}

#table_heading {
  background-color: rgb(12, 164, 223);
  color: whitesmoke;
  height: 50px;

}

.btn-icon {
  width: 30px;
  margin: auto;
}

.uploaded-btn {
  size: small;
  margin: auto;
}

#data1 {
  background-color: rgb(199, 222, 232);
}

#data3 {
  background-color: rgb(199, 222, 232);
}

#data5 {
  background-color: rgb(199, 222, 232);
}

table button {
  cursor: pointer;
}


/* ========================table================================= */



/* =========================================worklist========================================== */


/* ==================footer============== */
.footer {
  margin-top: 430px;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  display: flex;
}

.footer #copy-rights {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  position: sticky;
  display: inline-block;
  left: 40px;
}

.footer #powered {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  position: sticky;
  left: 940px;
}

.footer #egen {
  display: inline-block;
  position: sticky;

  display: flex;
  left: 1020px;

  margin-top: 8px;
  margin-bottom: 20px;
}

.footer #mars {
  display: inline-block;
  position: sticky;

  display: flex;
  left: 1105px;

  margin-top: 12px;
  margin-bottom: 18px;
}