body {
    font-size: 0.875rem;
}

/* ==================================edit========================================== */
header {
    background-color: white;
}

#medName {
    color: rgb(68, 154, 229);
    position: absolute;
    margin-left: 17%;
    margin-top: 1%;
}

#profile-name {
    position: absolute;
    margin-left: 85%;
}

#notification {
    padding-block: 5px;
    height: 50px;
}

#profile-photo {
    padding-block: 5px;
}

#profile-photo {
    border-radius: 50%;
    height: 50px;
}

#name {
    display: inline-block;
}
/* side bar menu */

#sidebarMenu {
    /* background-color: #f0ebfbfd; */
    background-color: #fdfdfffd;
}

.accordion-p {
    color: #2470dc;
    margin-left: 9%;
}

#main {
    border-top: 1px solid rgb(236, 234, 234);
}

/* ==================================edit========================================== */
/*
   * Sidebar
   */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/* .sidebar .nav-link {
  font-weight: 500;
  color: #333;
} */

/* .sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
} 

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}
*/

/*
   * Navbar
   */

.navbar-brand {
    
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    /* background-color: rgba(0, 0, 0, 0.25); */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
    top: 0.25rem;
    right: 1rem;
}
